
@model HomeModel
@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo,@Model.Nome</h1>
    <p>"Sistema de Cadastro"</p>
    <span>Seu Email é: @Model.Email</span>
</div>
