@{
    ViewData["Title"] = "Confirmação de Exclusão de Contato";

}
<div class="text">

    <h3>Deseja realmente excluir ?</h3>
</div>
<a class="btn btn-primary btn-block" role="button">Cancelar</a>
<a class="btn btn-danger btn-block" role="button">confirmar</a>




